* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.repo-list {
    display: grid;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 2;
    grid-template-rows: auto;

}

.hidden {
    display: none;
}

.results-image {
    
    max-height: 250px;
}